.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #4d4d4d;
}

.links {
    display: flex;
    gap: 40px;
}

.links a {
    color: #ffffff;
}

.search {
    width: 400px;
    height: 32px;
}